body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f7fa;
}

nav {
    padding: 20px;
    background: #1d3557;
    color: white;
}

nav button {
    padding: 6px 15px;
    background: #e63946;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    padding: 80px;
    background: #457b9d;
    color: white;
}

.login-section {
    padding: 50px;
}

footer {
    background: #1d3557;
    color: white;
    padding: 20px;
}
